.git/*
.metadata/*
spring/anjireddy/IOC/AutoWire/bin/*
spring/anjireddy/IOC/AutoWiring/bin/*
spring/anjireddy/IOC/BeanValidation/bin/*
spring/anjireddy/IOC/CollectionProject/bin/*
spring/anjireddy/IOC/CollectionProject_MapProperties/bin/*
spring/anjireddy/IOC/ConstructorInjection/bin/*
spring/anjireddy/IOC/LooseCoupling/bin/*
spring/anjireddy/IOC/SpringAnnotations/bin/*
spring/anjireddy/IOC/springcoreproject/bin/*
spring/anjireddy/IOC/BeanLifeCycle/bin/*

spring/kk/springDataJPA/PeopleManagementSpringBootDataApp/target/*
spring/kk/springDataJPA/PeopleManagementSpringbootDataApp_CustomQueriesWithMethodNames/target/*
spring/kk/springDataJPA/PeopleManagementSpringBooDatatApp_CustomQueriesWithNameQueryAndNamedNativeQuery/target/*
spring/kk/springDataJPA/PeopleManagementSpringBootDataApp_CustomQueries/target/*

spring/javaTechie/SpringDataJPA/SpringDataJPA_EntityRelationship/target/*

spring/cipher/springDataJPA/JPAJoin/target/*

spring/cipher/springDataJPA/SpringDataJPA_POC_1/target/*
spring/cipher/springDataJPA/SpringDataJPA_StaticData_POC_2/target/*
spring/cipher/springDataJPA/SpringDataJPA_Dev_POC_3/target/*
spring/cipher/springDataJPA/SpringDataJPA_Production_POC_4/target/*

spring/cipher/springSecurity/SpringSecurity_POC_1/target/*
spring/cipher/springSecurity/SpringSecurity_POC_2/target/*
spring/cipher/springSecurity/SpringSecurity_InMemoryAuthentication/target/*
spring/cipher/springSecurity/SpringSecurity_JDBCAuthentication_DefaultSchemaByGeneratedBySpringSecurity/target/*
spring/cipher/springSecurity/SpringSecurity_JDBCAuthentication_ManualSchemaGeneration_H2DB2/target/*
spring/cipher/springSecurity/SpringSecurity_JDBCAuthentication_ManualSchemaGenerationOverridingDefaultTableAndColumnNames_H2DB/target/*
spring/cipher/springSecurity/SpringSecurity_JDBCAuthentication_ManualSchemaGenerationOverridingDefaultTableAndColumnNames_MySQL/target/*
spring/cipher/springSecurity/SpringSecurity_JPAAuthentication_MySQL/target/*
spring/cipher/springSecurity/SpringSecurity_JWT/target/*

spring/cipher/springSecurity/SpringSecurity_InMemoryAuthentication/src/test/*
spring/cipher/springSecurity/SpringSecurity_JDBCAuthentication_DefaultSchemaByGeneratedBySpringSecurity/src/test/*
spring/cipher/springSecurity/SpringSecurity_JDBCAuthentication_ManualSchemaGeneration_H2DB2/src/test/*
spring/cipher/springSecurity/SpringSecurity_JDBCAuthentication_ManualSchemaGenerationOverridingDefaultTableAndColumnNames_H2DB/src/test/*
spring/cipher/springSecurity/SpringSecurity_JDBCAuthentication_ManualSchemaGenerationOverridingDefaultTableAndColumnNames_MySQL/src/test/*
spring/cipher/springSecurity/SpringSecurity_JPAAuthentication_MySQL/src/test/*
spring/cipher/springSecurity/SpringSecurity_JWT/src/test/*

spring/cipher/Spring_POC/target/*

#RESTExceptionHandler
spring/cipher/RESTExceptionHandler/target/*
spring/cipher/RESTExceptionHandler/.settings/*
spring/cipher/RESTExceptionHandler/target/.classpath
spring/cipher/RESTExceptionHandler/target/.project

spring/cipher/JDBCTemplate/JDBCTemplate/.mvn/*
spring/cipher/JDBCTemplate/JDBCTemplate/target/*
spring/cipher/JDBCTemplate/JDBCTemplate/.settings/*
