.git/*
.metadata/*
spring/anjireddy/IOC/AutoWire/bin/*
spring/anjireddy/IOC/AutoWiring/bin/*
spring/anjireddy/IOC/BeanValidation/bin/*
spring/anjireddy/IOC/CollectionProject/bin/*
spring/anjireddy/IOC/CollectionProject_MapProperties/bin/*
spring/anjireddy/IOC/ConstructorInjection/bin/*
spring/anjireddy/IOC/LooseCoupling/bin/*
spring/anjireddy/IOC/SpringAnnotations/bin/*
spring/anjireddy/IOC/springcoreproject/bin/*
spring/anjireddy/IOC/BeanLifeCycle/bin/*

spring/kk/springDataJPA/PeopleManagementSpringBootDataApp/target/*
spring/kk/springDataJPA/PeopleManagementSpringbootDataApp_CustomQueriesWithMethodNames/target/*
spring/kk/springDataJPA/PeopleManagementSpringBooDatatApp_CustomQueriesWithNameQueryAndNamedNativeQuery/target/*
spring/kk/springDataJPA/PeopleManagementSpringBootDataApp_CustomQueries/target/*

spring/javaTechie/SpringDataJPA/SpringDataJPA_EntityRelationship/target/*
